<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scheduleh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BusyFreeListActivity"></activity>
        <activity android:name=".SyncResultsActivity" />
        <activity android:name=".SyncFriendsActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".FriendsJoiningActivity" />
        <activity android:name=".UserJioActivity" />
        <activity
            android:name=".FriendRequestsActivity"
            android:label="@string/pending_friend_requests"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".FriendsActivity" />
        <activity
            android:name=".EditEventActivity"
            android:label="@string/edit_event"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".NewEventActivity"
            android:label="@string/new_event"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>